body {
    background-color: #020d18;

}

#content-section-a {
    height: 25vh;
    background-color: #0C2238;
}

#content-section-b {
    min-height: 45vh;
    background-color: #020d18;
}

#search-bar-cntr .search-bar-movie{
    border: 5px solid #020d18;
    border-radius: 3px;
}

#search-bar-cntr .search-bar-movie input[type="text"],
#search-bar-cntr .search-bar-movie .input-group-prepend,
#search-bar-cntr .search-bar-movie .input-group-append,
#search-bar-cntr .search-bar-movie .input-group-prepend .dropdown-menu {
    background-color: #233A50;
}

#search-bar-cntr .search-bar-movie .input-group-append button:hover {
    background: #6C757D;
    color: #abb7c4;
}

#search-bar-cntr .search-bar-movie #movie-search-input {
    color: #abb7c4;
}






